body {
    text-align: center;
    background-color: lightgray;
}

body, textarea, input {
    font-family: Helvetica, Arial;
    color: dimgray;
    border: none;
}

a {
    color: dimgray;
}

p {
    text-indent: 1.5em;
}

.section {
    width: 450px;
    margin: auto;
    overflow: auto;
    margin-bottom: 30px;
    padding: 30px;
}

@media (max-width: 700px) {
    .section {
        width: 70%;
    }

    /* so the 'fork me on github' ribbon doesn't overlap the text */
    h1 {
        margin-bottom: 60px;
    }
}

.dark {
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: dimgray;
}

.sectionbody {
    margin-top: 40px;
    text-align: left;
}

.step {
    text-transform: uppercase;
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
    background-color: dimgray;
    color: lightgray;
    padding: 20px;
    font-size: 20px;
}

.left {
    width: 45%;
    float: left;
}

.right {
    width: 45%;
    float: right;
}

.password {
    width: 100%;
}

.message {
    width: 100%;
    height: 100px;
}

.submit {
    float: right;
}

.preview {
    margin-top: 30px;
    width: 100px;
    float: right;
}

.hide {
    display: none;
}

#output[src] {
    margin-bottom: 1em;
    box-shadow: 0px 0.5em 1em rgba(0,0,0,0.5);
}
